@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Montserrat', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Quicksand', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Quicksand', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Quicksand', sans-serif;
}
.mbr-author-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Quicksand', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #90a878 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f4e0a9 !important;
}
.bg-danger {
  background-color: #ffc5c4 !important;
}
.btn-primary {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-secondary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f4e0a9;
  border-color: #f4e0a9;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #ebc865;
  border-color: #ebc865;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ebc865 !important;
  border-color: #ebc865 !important;
}
.btn-danger {
  background-color: #ffc5c4;
  border-color: #ffc5c4;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #ff7a77;
  border-color: #ff7a77;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff7a77 !important;
  border-color: #ff7a77 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #e8bf4f;
  color: #e8bf4f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f4e0a9;
  border-color: #f4e0a9;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f4e0a9 !important;
  border-color: #f4e0a9 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ff615e;
  color: #ff615e;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ffc5c4;
  border-color: #ffc5c4;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffc5c4 !important;
  border-color: #ffc5c4 !important;
}
.text-primary {
  color: #90a878 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f4e0a9 !important;
}
.text-danger {
  color: #ffc5c4 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f4e0a9;
}
.alert-danger {
  background-color: #ffc5c4;
}
.btn-social {
  border-color: #90a878;
}
.btn-social:hover {
  background: #90a878;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #90a878;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #90a878;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #90a878;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #90a878;
}
.lead a,
.lead a:hover {
  color: #90a878;
}
.lead blockquote {
  border-color: #90a878;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #90a878;
}
.scrollToTop_wraper {
  display: none;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#ext_menu-5 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-5 .navbar-caption {
  color: #ffffff;
}
#ext_menu-5 .navbar-toggler {
  color: #000000;
}
#ext_menu-5 .close-icon::before,
#ext_menu-5 .close-icon::after {
  background-color: #000000;
}
#ext_menu-5 .link,
#ext_menu-5 .dropdown-item {
  color: #000000;
}
#ext_menu-5 .link {
  font-size: 0.75rem;
}
#ext_menu-5 .dropdown-item,
#ext_menu-5 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-5 .link:hover,
#ext_menu-5 .dropdown-item:hover,
#ext_menu-5 .link:focus,
#ext_menu-5 .dropdown-item:focus {
  color: #90a878;
}
#ext_menu-5 .link[aria-expanded="true"],
#ext_menu-5 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-5 .nav-dropdown-sm .link:focus,
#ext_menu-5 .nav-dropdown-sm .link:hover,
#ext_menu-5 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-5 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-5 .navbar,
#ext_menu-5 .nav-dropdown-sm,
#ext_menu-5 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-5 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-5 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-5 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-5 .bg-color.transparent.opened .link:hover,
#ext_menu-5 .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#ext_menu-5 .link[aria-expanded="true"],
#ext_menu-5 .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#header1-4 .mbr-section-lead {
  color: #ffffff;
  font-size: 14px;
}
#header1-4 .mbr-section-title {
  color: #ffffff;
  font-size: 32px;
}
#msg-box5-7 H3 {
  font-size: 22px;
}
#msg-box5-7 SPAN {
  font-size: 16px;
}
#msg-box5-7 P {
  font-size: 14px;
}
#header3-2l .mbr-section-title,
#header3-2l .mbr-section-subtitle {
  text-align: center;
}
#header3-2l .mbr-section-subtitle {
  font-size: 16px;
}
#header3-2l .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#features7-28 .card-subtitle {
  color: #bcbcbc;
}
#features7-28 .iconbox {
  background-color: #90a878;
  border-color: #90a878;
}
#features7-28 H4 {
  font-size: 14px;
}
#features7-28 P {
  font-size: 14px;
}
#testimonials1-27 .mbr-section-title {
  font-size: 22px;
}
#testimonials1-27 .card-block P {
  font-size: 14px;
}
#testimonials1-27 .mbr-section-subtitle {
  font-size: 14px;
}
#form1-c .form-control-label {
  color: #232323;
}
#form1-c .mbr-section-subtitle {
  font-size: 14px;
}
#social-buttons2-1z .mbr-section-title,
#social-buttons2-1z .btn-social {
  color: #232323;
}
#social-buttons2-1z .btn-social > * {
  vertical-align: middle;
  padding-right: 0;
}
#social-buttons2-1z .mbr-section-title {
  font-size: 22px;
}
#form2-21 .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#form2-21 .mbr-section-subtitle {
  color: #a0a0a0;
  font-size: 14px;
}

#ext_menu-m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-m .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-m .navbar-toggler {
  color: #000000;
}
#ext_menu-m .close-icon::before,
#ext_menu-m .close-icon::after {
  background-color: #000000;
}
#ext_menu-m .link,
#ext_menu-m .dropdown-item {
  color: #000000;
}
#ext_menu-m .link {
  font-size: 0.75rem;
}
#ext_menu-m .dropdown-item,
#ext_menu-m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-m .link:hover,
#ext_menu-m .dropdown-item:hover,
#ext_menu-m .link:focus,
#ext_menu-m .dropdown-item:focus {
  color: #90a878;
}
#ext_menu-m .link[aria-expanded="true"],
#ext_menu-m .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-m .nav-dropdown-sm .link:focus,
#ext_menu-m .nav-dropdown-sm .link:hover,
#ext_menu-m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-m .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-m .navbar,
#ext_menu-m .nav-dropdown-sm,
#ext_menu-m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-m .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-m .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-m .bg-color.transparent.opened .link:hover,
#ext_menu-m .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#ext_menu-m .link[aria-expanded="true"],
#ext_menu-m .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#header3-n .mbr-section-title,
#header3-n .mbr-section-subtitle {
  text-align: center;
}
#content1-2j P {
  text-align: center;
}

#ext_menu-i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-i .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-i .navbar-toggler {
  color: #000000;
}
#ext_menu-i .close-icon::before,
#ext_menu-i .close-icon::after {
  background-color: #000000;
}
#ext_menu-i .link,
#ext_menu-i .dropdown-item {
  color: #000000;
}
#ext_menu-i .link {
  font-size: 0.75rem;
}
#ext_menu-i .dropdown-item,
#ext_menu-i .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-i .link:hover,
#ext_menu-i .dropdown-item:hover,
#ext_menu-i .link:focus,
#ext_menu-i .dropdown-item:focus {
  color: #90a878;
}
#ext_menu-i .link[aria-expanded="true"],
#ext_menu-i .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-i .nav-dropdown-sm .link:focus,
#ext_menu-i .nav-dropdown-sm .link:hover,
#ext_menu-i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-i .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-i .navbar,
#ext_menu-i .nav-dropdown-sm,
#ext_menu-i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-i .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-i .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-i .bg-color.transparent.opened .link:hover,
#ext_menu-i .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#ext_menu-i .link[aria-expanded="true"],
#ext_menu-i .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#header3-j .mbr-section-title,
#header3-j .mbr-section-subtitle {
  text-align: center;
}
#content1-2h P {
  text-align: center;
}

#ext_menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-d .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-d .navbar-toggler {
  color: #000000;
}
#ext_menu-d .close-icon::before,
#ext_menu-d .close-icon::after {
  background-color: #000000;
}
#ext_menu-d .link,
#ext_menu-d .dropdown-item {
  color: #000000;
}
#ext_menu-d .link {
  font-size: 0.75rem;
}
#ext_menu-d .dropdown-item,
#ext_menu-d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-d .link:hover,
#ext_menu-d .dropdown-item:hover,
#ext_menu-d .link:focus,
#ext_menu-d .dropdown-item:focus {
  color: #90a878;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-d .nav-dropdown-sm .link:focus,
#ext_menu-d .nav-dropdown-sm .link:hover,
#ext_menu-d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-d .navbar,
#ext_menu-d .nav-dropdown-sm,
#ext_menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-d .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-d .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-d .bg-color.transparent.opened .link:hover,
#ext_menu-d .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#header3-f .mbr-section-title,
#header3-f .mbr-section-subtitle {
  text-align: center;
}
#content1-2g P {
  text-align: center;
}

#ext_menu-p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-p .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-p .navbar-toggler {
  color: #000000;
}
#ext_menu-p .close-icon::before,
#ext_menu-p .close-icon::after {
  background-color: #000000;
}
#ext_menu-p .link,
#ext_menu-p .dropdown-item {
  color: #000000;
}
#ext_menu-p .link {
  font-size: 0.75rem;
}
#ext_menu-p .dropdown-item,
#ext_menu-p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-p .link:hover,
#ext_menu-p .dropdown-item:hover,
#ext_menu-p .link:focus,
#ext_menu-p .dropdown-item:focus {
  color: #90a878;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-p .nav-dropdown-sm .link:focus,
#ext_menu-p .nav-dropdown-sm .link:hover,
#ext_menu-p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-p .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-p .navbar,
#ext_menu-p .nav-dropdown-sm,
#ext_menu-p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-p .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-p .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-p .bg-color.transparent.opened .link:hover,
#ext_menu-p .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#ext_menu-p .link[aria-expanded="true"],
#ext_menu-p .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#header3-q .mbr-section-title,
#header3-q .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-s H3 {
  font-size: 22px;
  text-align: left;
}
#msg-box5-s SPAN {
  font-size: 16px;
}
#msg-box5-s P {
  text-align: left;
  font-size: 13px;
}

#ext_menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1h .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-1h .navbar-toggler {
  color: #000000;
}
#ext_menu-1h .close-icon::before,
#ext_menu-1h .close-icon::after {
  background-color: #000000;
}
#ext_menu-1h .link,
#ext_menu-1h .dropdown-item {
  color: #000000;
}
#ext_menu-1h .link {
  font-size: 0.75rem;
}
#ext_menu-1h .dropdown-item,
#ext_menu-1h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1h .link:hover,
#ext_menu-1h .dropdown-item:hover,
#ext_menu-1h .link:focus,
#ext_menu-1h .dropdown-item:focus {
  color: #90a878;
}
#ext_menu-1h .link[aria-expanded="true"],
#ext_menu-1h .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-1h .nav-dropdown-sm .link:focus,
#ext_menu-1h .nav-dropdown-sm .link:hover,
#ext_menu-1h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-1h .navbar,
#ext_menu-1h .nav-dropdown-sm,
#ext_menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-1h .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1h .bg-color.transparent.opened .link:hover,
#ext_menu-1h .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#ext_menu-1h .link[aria-expanded="true"],
#ext_menu-1h .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#header3-1i .mbr-section-title,
#header3-1i .mbr-section-subtitle {
  text-align: center;
}
#content1-2k P {
  text-align: center;
}

#ext_menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-w .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-w .navbar-toggler {
  color: #000000;
}
#ext_menu-w .close-icon::before,
#ext_menu-w .close-icon::after {
  background-color: #000000;
}
#ext_menu-w .link,
#ext_menu-w .dropdown-item {
  color: #000000;
}
#ext_menu-w .link {
  font-size: 0.75rem;
}
#ext_menu-w .dropdown-item,
#ext_menu-w .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-w .link:hover,
#ext_menu-w .dropdown-item:hover,
#ext_menu-w .link:focus,
#ext_menu-w .dropdown-item:focus {
  color: #90a878;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-w .nav-dropdown-sm .link:focus,
#ext_menu-w .nav-dropdown-sm .link:hover,
#ext_menu-w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-w .navbar,
#ext_menu-w .nav-dropdown-sm,
#ext_menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-w .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-w .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-w .bg-color.transparent.opened .link:hover,
#ext_menu-w .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#header3-15 .mbr-section-title,
#header3-15 .mbr-section-subtitle {
  text-align: center;
}
#content1-25 P {
  font-size: 14px;
}
#msg-box5-y H3 {
  font-size: 25px;
  text-align: left;
}
#msg-box5-y SPAN {
  font-size: 16px;
}
#msg-box5-y P {
  font-size: 14px;
  text-align: left;
}
#msg-box5-19 H3 {
  font-size: 25px;
  text-align: left;
}
#msg-box5-19 SPAN {
  font-size: 16px;
}
#msg-box5-19 P {
  font-size: 14px;
  text-align: left;
}
#msg-box5-17 H3 {
  font-size: 25px;
  text-align: left;
}
#msg-box5-17 SPAN {
  font-size: 16px;
}
#msg-box5-17 P {
  font-size: 14px;
  text-align: left;
}
#msg-box5-2n H3 {
  font-size: 25px;
  text-align: left;
}
#msg-box5-2n SPAN {
  font-size: 16px;
}
#msg-box5-2n P {
  text-align: left;
  font-size: 14px;
}
#msg-box5-2n B {
  font-size: 14px;
}
#msg-box5-18 H3 {
  font-size: 25px;
  text-align: left;
}
#msg-box5-18 SPAN {
  font-size: 16px;
}
#msg-box5-18 P {
  text-align: left;
  font-size: 14px;
}
#msg-box5-18 B {
  font-size: 14px;
}
#msg-box5-1a H3 {
  font-size: 25px;
  text-align: left;
}
#msg-box5-1a SPAN {
  font-size: 16px;
}
#msg-box5-1a P {
  text-align: left;
  font-size: 14px;
}
#msg-box5-1a B {
  font-size: 14px;
}
#msg-box5-22 H3 {
  font-size: 25px;
  text-align: left;
}
#msg-box5-22 SPAN {
  font-size: 16px;
}
#msg-box5-22 P {
  font-size: 14px;
  text-align: left;
}
#form1-13 .form-control-label {
  color: #232323;
}
#form1-13 .mbr-section-subtitle {
  font-size: 14px;
}

#ext_menu-2c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2c .navbar-caption {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#ext_menu-2c .navbar-toggler {
  color: #000000;
}
#ext_menu-2c .close-icon::before,
#ext_menu-2c .close-icon::after {
  background-color: #000000;
}
#ext_menu-2c .link,
#ext_menu-2c .dropdown-item {
  color: #000000;
}
#ext_menu-2c .link {
  font-size: 0.75rem;
}
#ext_menu-2c .dropdown-item,
#ext_menu-2c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2c .link:hover,
#ext_menu-2c .dropdown-item:hover,
#ext_menu-2c .link:focus,
#ext_menu-2c .dropdown-item:focus {
  color: #90a878;
}
#ext_menu-2c .link[aria-expanded="true"],
#ext_menu-2c .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-2c .nav-dropdown-sm .link:focus,
#ext_menu-2c .nav-dropdown-sm .link:hover,
#ext_menu-2c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2c .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-2c .navbar,
#ext_menu-2c .nav-dropdown-sm,
#ext_menu-2c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2c .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-2c .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2c .bg-color.transparent.opened .link:hover,
#ext_menu-2c .bg-color.transparent.opened .link:focus {
  color: #90a878;
}
#ext_menu-2c .link[aria-expanded="true"],
#ext_menu-2c .dropdown-item[aria-expanded="true"] {
  color: #90a878!important;
}
#header3-2d .mbr-section-title,
#header3-2d .mbr-section-subtitle {
  text-align: center;
}
#content1-2i P {
  text-align: center;
}
